@mixin drop {
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    height: 0;
    width: 0;
    border-top: 4.3px solid #8197a4;
    border-right: 4.3px solid transparent;
    border-left: 4.3px solid transparent;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    position: relative;
    float: right;
    margin: 5px;
    top: 2px;
  }
}
