& {
  height: 5vh;
  .explore {
    display: flex;
  }
  .img {
    width: 130px;
  }
  .search {
    width: 22px;
    height: 22px;
    margin-right: 16px;
  }
  .user {
    .name {
      font-size: 15px;
      font-weight: 700;
      color: rgba(242, 244, 246, 0.7);
      cursor: pointer;
      display: flex;

      &:hover {
        color: white;
      }
    }

    .avatar {
      width: 32px;
      height: 32px;
      margin: 0px 8px 0px 8px;
    }
    .drop {
      display: block;
    }
  }
}
