&{
    padding: 35px 45px;
    height: 8vh;
    width: 100%;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: none;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    z-index: 2;

    img {
        max-width: 100%;
        max-height: unset;
      }

    .menu{
        display: flex;
        align-items: center;
        ul {
          width: 100%;
          display: flex;
          list-style-type: none;
          padding-left: 15px;
          margin-left: 0;
          li {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            cursor: pointer;
            font-weight: 700;
            font-size: 17px;
            color: rgba(242, 244, 246, 0.9);
            margin: 7px;
    
            &:first-child {
              border-bottom: 1px solid white;
              color: white;
            }
    
            &:hover {
              color: white;
            }
          }
        }
    }
    .search{
        margin-right: 16px;
    }
    .explore{
        display: none;
    }
}
