@import "src/sass/variables";
@import "src/sass/mixins";

.Carousel {
  .bigSwiper {
    height: 27vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    div[class*="swiper-button-prev"], div[class*="swiper-button-next"]{
      display: none;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    @import "Carousel-tablet.module.scss";
  }

  @media (min-width: $breakpoint-desktop) {
    @import "Carousel-desktop.module.scss";
  }
}
