&{
    
    .information{
        flex-flow: row;
        justify-content: space-evenly;
        margin-top: 0;
        div{
            margin-top: 0;
            width: unset;
            justify-content: space-between;
            width: 200px;
        }
    }

    span{
        &.credits{
            margin-top: 0;
        }
    }
}