@import "src/sass/variables";

.App {
  text-align: center;
  font-family: ember, Arial, sans-serif !important;
  background-color: #0f171e;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;

  .categories{
    width: 100%;
    margin-bottom: 15px;
  }

  .d-none{
    display: none;
  }

}

@font-face {
  font-family: "ember";
  src: local("ember"), url("assets/fonts/ember.ttf") format("opentype");
}
